.header-container {
    background-color: #00204b;
    /* Azul escuro - você pode ajustar o código de cor conforme necessário */
    color: #ffffff;
    /* Cor do texto para garantir contraste */
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.navbar button a {
    font-size: 18px;
}

.navbar button a:hover {
    color: #53c5d5;
    cursor: pointer;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Dosis Regular";
    font-size: 18px;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    /* background-color: red; */
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #24354b;
    width: 100%;
    z-index: 1;
    padding: 15px 0;
    opacity: 0.9;
    /* flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden; */
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    opacity: 0.5;
    width: 120px;
}

.subnav-content a:hover {
    opacity: 1;
}

.subnav:hover .subnav-content {
    display: flex;
}

.list-class-ol {
    counter-reset: item;
    padding-left: 0;
}

.list-class-ol li {
    display: block;
    text-align: justify;
    padding: 15px 0;
}

.list-class-ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #00204b;
    font-size: 30px;
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.chose .iphones-5s {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chose .iphones-5s .img-fluid {
    max-width: 50%;
}



/* Mobile */
.custom-toggler.navbar-toggler {
    border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
    .detail-features {
        margin-top: 0;
    }

    .img-fluid {
        max-width: 60%;
    }

    .phone-col {
        margin-top: 0;
    }

    .chose .iphones-5s {
        margin-top: 10px;
    }

    .chose .iphones-5s .img-fluid {
        max-width: 60%;
    }

    .downl-sec {
        padding: 30px 0px 30px 0px;
    }

    .screenshot {
        padding: 20px 0;
    }

    .screan-hover {
        max-width: 60%;
    }
}